* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}

.carousel {
    height: 100vh;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 20px;
    z-index: 100;
    padding: 20px 50px;
}

.header .logo h1 {
    font-family: "Pacifico", cursive;
    font-size: 35px;
    font-weight: 700;
    color: #2C3E50;
}

.header .nav_button {
    position: relative;
    background: #2C3E50;
    color: #fff;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 15;
    border-radius: 100px;
    border: 3px solid #2C3E50;
    cursor: pointer;
}

.header .nav_button:nth-child(1) {
    margin-right: 10px;
}

.header .nav_button.chat {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: transparent;
    border: 3px solid #2C3E50;
    color: #2C3E50;
    font-size: 20px;
    border-radius: 50%;
}

.img_box {
    position: absolute;
    bottom: -1000px;
    left: 50%;
    transform: translateX(-50%);
    width: 1600px;
    height: 1600px;
}

.img_box .img_list {
    height: inherit;
    transform: rotate(90deg);
}

.img_list .img_slider {
    height: inherit;
    display: flex;
    align-items: center;
    transition: .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.img_slider .img_item {
    position: absolute;
    left: 0;
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 800px;
}

.img_item img {
    width: 450px;
    height: auto;
    transform: rotate(-90deg);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
}

.info_box {
    position: absolute;
    right: 8%;
    bottom: 5%;
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.info_box .info_slider {
    transition: .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.info_slider .info_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    height: 150px;
}

.info_item h2 {
    font-size: 24px;
    margin-bottom: 6px;
}

.navigator {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.navigator span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    font-size: 35px;
}

.large_text {
    position: absolute;
    left: 15%;
    top: 50%;
    height: 700px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: 40px;
}

.large_text h2 {
    font-size: 145px;
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -90px;
    user-select: none;
    color: rgba(255, 255, 255, .4);
}

.bg_box .bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.bg_box .bg::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 800px;
    background: rgba(255, 255, 255, .8);
    border-radius: 50%;
    filter: blur(200px);
    transition: .5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.bg_box .bg.active {
    opacity: 1;
}

.bg_box .bg:nth-child(1) {
    background: linear-gradient(to bottom, #f7e361, #f6a441, #f06754);
}

.bg_box .bg:nth-child(2) {
    background: #df9e7d;
}

.bg_box .bg:nth-child(3) {
    background: linear-gradient(to bottom, #f5c78b, #d67f4b, #a8d68d);
}

.bg_box .bg:nth-child(4) {
    background: linear-gradient(to top, #f72c2c, #f89f1c, #ffffff);
}
